**/.git/**
**/node_modules/**
**/src/**
**/tests/**
**/examples/**
**/docs/**
**/runtime/**
**/stdlib/**
**/scripts/**
**/editors/zed/**
**/*.map
**/*.ts
!out/**
tsconfig*.json
langium-config.json
vitest.config.*
.eslintrc*
.prettierrc*
CHANGELOG.md
